* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #242424;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  margin-right: auto;
  padding-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #555555;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.about {
  color: #333;
  text-align: center;
  flex-basis: 50%;
  padding: 20px;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about p {
  font-size: 18px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.icon {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
  z-index: -1;
  fill: rgb(91, 107, 255);
  border: 1px solid rgb(91, 107, 255);
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

